{%include "base.html"%} {%block content%}
<div class="container-fluid mt-3">
  <div class="row">
    <!--categori-->
    <div class="col-lg-3 mb-3">
      <div class="list-group">
        <a href="/" class="list-group-item list-group-item-action"
          >Semua Produk</a
        >
        {%for category in category%}
        <a
          href="/?category={{category.id}}"
          class="list-group-item list-group-item-action"
          >{{category.name}}</a
        >
        {%endfor%}
      </div>
    </div>

    <!--produk-->
    <div id="product" class="col-lg-9">
      <div class="row mx-auto">
        {%for product in product%}
        <div class="card mx-auto mb-3" style="width: 18rem">
          <img
            src="{{product.image.url}}"
            class="card-img-top h-50"
            alt="..."
          />
          <div class="card-body">
            <h4 class="card-title">{{product.name|truncatewords:2}}</h4>
            <h6 class="card-text">Rp.{{product.price}}</h6>
            {% comment %}
            <p class="card-text">{{product.description}}</p>
            {% endcomment %}
            <div class="text-center mt-3">
              <a
                href="#"
                class="btn"
                style="background-color: #c748b0; color: white"
                >Masukkan Ke Keranjang</a
              >
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{%endblock content%}
